.filters {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 1rem 2rem;
  border-bottom: 1px dashed black;

  button {
    padding: 0 0.25rem;
    margin: 0 0.25rem;
  }

  .reset {
    margin-left: 2rem;
    margin-bottom: 0.25rem;
  }

  .selectedFilter {
    position: relative;
    display: flex;
    flex-direction: row;

    .group {
      .inputs {
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        display: flex;
        flex-direction: row;

        label {
          margin: 0 0.25rem;
        }
      }
    }
  }
}
